<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
  <main>
    <% include ../partials/nav %>
    <section class="section-details">
      <div class="section-content">
        <div class="column large-8 medium-10 small-12 large-centered medium-centered">
          <br>
          <br>
          <h1 class="typography-title">Address Search Results</h2>
          <h2 class="typography-intro">Select an address below for outage details.</h2>
          <br>
          <br>
          <% for (let r = 0; r < data.length; r++) { %>
            <a class="search-card" href="/details/?loc=<%- data[r].prem_id %>">
              <p class="typography-body">
                <%- data[r].street %><% if(data[r].subpremise){ %>, <%- data[r].subpremise %><% } %><br>
                <%- data[r].city %>, <%- data[r].state %> <%- data[r].zip %>
              </p>
            </a>
          <% } %>
        </div>
        <div class="column large-8 medium-10 small-12 large-centered medium-centered">
          <br>
          <br>
          <p>Data is pulled from PG&E backened and cached through clouldflare. If the page fails to load, it is most likely because PG&E is having an outage.</p>
          <br>
          <br>
        </div>
      </div>
    </section>
  </main>
  <% include ../partials/footer %>
  </body>
  </script>
</html>
