<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#" class="no-js">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
  <main>
    <% include ../partials/nav %>
    <section class="section-details">
      <div class="section-content">
        <div class="column large-8 medium-10 small-12 large-centered medium-centered">
          <br>
          <br>
          <h1 class="typography-title">Address Search Results</h2>
          <h2 class="typography-intro">Select an address below for outage details.</h2>
          <br>
          <br>
          <div class="row auth-row">
            <input class="text" type="text" id="filterInput" onkeyup="filter()" placeholder="Filter Addresses..."/>
          </div>
          <br>
          <script>
            const filter = () => {
              // Declare variables
              let input, filter, list, result, p, txtValue;
              input = document.getElementById('filterInput');
              filter = input.value.toUpperCase();
              list = document.getElementById('resultsList');
              result = list.getElementsByTagName('a');

              // Loop through all list items, and hide those who don't match the search query
              for (i = 0; i < result.length; i++) {
                p = result[i].getElementsByTagName('p')[0];
                txtValue = p.textContent || p.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  result[i].style.display = '';
                } else {
                  result[i].style.display = 'none';
                }
              }
            }
          </script>
          <% if(typeof error !== 'undefined'){ %>
            <div class="row">
              <div class="alert alert-message" role="alert">
                <b>UPDATE 11:15AM:</b><br>
                The PG&E API this site uses for hyper-accurate per-address details is having periods of outages. If search is not working, you can view estimated address impact <a href="/map">on this map</a>.
              </div>
            </div>
            <br>
            <br>
            <h3 class="typography-section-headline">502: PG&E API Error</h3>
            <h2 class="typography-subsection-headline">No Results Found</h3>
            <p class="typography-label"> Error Message: <%- error %></p>
            <br>
            <p>PG&E Returned no addresses on this search. You can try refreshing the page to try again, or <a href="/">search something else</a>.</p>
            <br>
            <br>
            <br>
            <p>Always check the <a href="http://m.pge.com/#event-map">official PG&E Outage Map</a> (if it is available) for official details</p>
          <% } else {%>
            <% if(typeof data !== 'undefined' && data.length > 0){ %>
              <div id="resultsList">
                <% for (let r = 0; r < data.length; r++) { %>
                  <a class="search-card" href="/details/?loc=<%- data[r].prem_id %>">
                    <p class="typography-body">
                      <%- data[r].street %><% if(data[r].subpremise){ %>, <%- data[r].subpremise %><% } %><br>
                      <%- data[r].city %>, <%- data[r].state %> <%- data[r].zip %>
                    </p>
                  </a>
                <% } %>
              </div>
            <% } else {%>
              <div class="row">
                <h3 class="typography-section-headline">No Results Found</h3>
                <p>PG&E Returned no addresses on this search. You can try refreshing the page to try again, or <a href="/">search something else</a>.</p>
                <br>
                <br>
                <p>Always check the <a href="http://m.pge.com/#event-map">official PG&E Outage Map</a> (if it is available) for official details</p>
              </div>
            <% }%>
          <% } %>
        </div>
        <div class="column large-8 medium-10 small-12 large-centered medium-centered">
          <br>
          <br>
          <p>Data is pulled from PG&E backend and cached through clouldflare. If the page fails to load, it is most likely because PG&E is having an outage.</p>
          <br>
          <br>
        </div>
      </div>
    </section>
  </main>
  <% include ../partials/footer %>
  </body>
  </script>
</html>
